body{
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100px, 100px, 800px, 100px, 900px;
  align-items: start;
  max-width: 1600px;
  margin: auto;
}
.form-container1 {
  grid-column: 1;
  /*grid-row: 1;*/
}
.form-container2 {
  grid-column: 2;
  /*grid-row: 2;*/
}
.form-container3 {
  grid-column: 3;
  /*grid-row: 2;*/
}
h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 72px;
  color : purple;
  text-align:center;
  font-weight: bold;
  text-shadow:
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color : yellow;
  text-align:center;
  font-size: 25px;
  text-shadow:
    -0.5px -0.5px 0 white,
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white
}
input[type=submit] {
  width: 15em;  height: 5em;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}